In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from functools import reduce

In [29]:
fees_2016 = "baggage_csv_files/2016_baggage.csv"
fees_2017 = 'baggage_csv_files/2017_baggage.csv'
fees_2018 = 'baggage_csv_files/2018_baggage.csv'
fees_2019 = 'baggage_csv_files/2019_baggage.csv'

In [30]:
fees16_df = pd.read_csv(fees_2016)
fees17_df = pd.read_csv(fees_2017)
fees18_df = pd.read_csv(fees_2018)
fees19_df = pd.read_csv(fees_2019)
fees16_df

              Airline    1Q_16     2Q_16      3Q_16   4Q_16       Total_16
0            American  262,464    288,836    288,124    278,048  1,117,473
1              Delta   197,690    232,461    228,971    213,297    872,419
2              United  158,949    175,460    185,609    170,386    690,404
3              Spirit  102,618    111,638    113,217    106,796    434,269
4            Frontier   70,755     71,578     84,962     79,497    306,792
5             JetBlue   57,853     57,625     59,548     56,578    231,604
6           Allegiant   43,759     45,934     45,168     42,468    177,329
7              Alaska   30,484     35,022     39,297     30,811    135,614
8            Hawaiian   19,804     20,994     22,332     19,270     82,400
9      Virgin America   14,334     16,415     17,651     15,889     64,289
10          Southwest   10,253     11,993     11,346     10,158     43,750
11        Sun Country    4,949      4,078      3,499      4,622     17,148
12  Island Air Hawaii      611        822      1,081      1,130      3,644
13              All    974,523  1,072,856  1,100,806  1,028,950  4,177,135

In [31]:
fees17_df

               Airline      1Q_17     2Q_17      3Q_17   4Q_17       Total_17
0             American    272,805    301,971    299,428    298,524  1,172,728
1               Delta     203,507    237,998    247,007    219,114    907,626
2               United    169,909    200,080    222,370    202,130    794,489
3               Spirit    110,908    125,844    125,457    130,436    492,645
4             Frontier     80,224     91,352     94,495     98,070    364,142
5              JetBlue     61,994     74,282     81,143     72,419    289,839
6            Allegiant     46,556     51,253     46,317     48,457    192,583
7               Alaska     30,602     38,232     42,114     36,295    147,243
8             Hawaiian     19,054     20,535     21,503     20,063     81,156
9       Virgin America     13,816     15,721     17,106     16,037     62,680
10           Southwest     10,419     12,298     11,934     11,460     46,111
11         Sun Country      5,771      5,007      4,892      4,387     20,056
12  Island Air Hawaii*      1,518      1,761      1,714        NaN      4,994
13               All    1,027,084  1,176,335  1,215,481  1,157,392  4,576,291

In [32]:
fees18_df

        Airline      1Q_18      2Q_18     3Q_18       4Q_18   Total_18
0      American    289,278    313,340    309,190    309,653  1,221,461
1        United    193,951    217,876    236,913    240,000    888,740
2        Delta     172,730    202,384    214,192    199,158    788,464
3        Spirit    144,345    161,656    166,505    165,736    638,242
4      Frontier    100,452     85,819     90,654     89,514    366,439
5       JetBlue     72,466     77,752     86,538     84,433    321,189
6        Alaska     48,800     77,881     83,804     69,182    279,667
7     Allegiant     56,568     59,751     52,919     50,322    219,560
8      Hawaiian     20,562     22,074     22,115     19,972     84,723
9     Southwest     11,436     13,418     12,873     12,222     49,949
10  Sun Country      8,739      8,798      9,300      9,323     36,160
11        All    1,119,327  1,240,749  1,285,002  1,249,515  4,894,593

In [34]:
fees19_df

        Airline      1Q_19     2Q_19      3Q_19       4Q_19   Total_19
0        Alaska     69,691     85,531     94,289     78,140    327,651
1     Allegiant     63,660     73,926     64,957     62,551    265,094
2      American    317,297    350,554    342,127    329,146  1,339,124
3        Delta     201,412    288,351    293,618    251,677  1,035,058
4      Frontier     91,389    101,567    131,005    135,197    459,158
5      Hawaiian     20,185     22,515     22,588     20,468     85,756
6       JetBlue     84,591     89,860     95,810     91,153    361,414
7     Southwest     12,025     13,749     13,046     12,004     50,824
8        Spirit    176,063    194,915    191,072    196,721    758,771
9   Sun Country     16,687     17,741     18,793     17,346     70,567
10       United    238,470    274,949    258,986    233,928  1,006,333
11        All    1,291,470  1,513,658  1,526,291  1,428,331  5,759,750

In [35]:
years = [fees16_df, fees17_df, fees18_df, fees19_df]
total_baggage_fees = pd.concat(years)
total_baggage_fees

,Airline,1Q_16,2Q_16,3Q_16,4Q_16,Total_16,1Q_17,2Q_17,3Q_17,4Q_17,...,1Q_18,2Q_18,3Q_18,4Q_18,Total_18,1Q_19,2Q_19,3Q_19,4Q_19,Total_19
0,American,"262,464","288,836","288,124","278,048","1,117,473",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Delta,"197,690","232,461","228,971","213,297","872,419",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United,"158,949","175,460","185,609","170,386","690,404",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spirit,"102,618","111,638","113,217","106,796","434,269",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frontier,"70,755","71,578","84,962","79,497","306,792",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,JetBlue,"57,853","57,625","59,548","56,578","231,604",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Allegiant,"43,759","45,934","45,168","42,468","177,329",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alaska,"30,484","35,022","39,297","30,811","135,614",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Hawaiian,"19,804","20,994","22,332","19,270","82,400",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Virgin America,"14,334","16,415","17,651","15,889","64,289",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Southwest,"10,253","11,993","11,346","10,158","43,750",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Sun Country,"4,949","4,078","3,499","4,622","17,148",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Island Air Hawaii,611,822,"1,081","1,130","3,644",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,All,"974,523","1,072,856","1,100,806","1,028,950","4,177,135",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,American,NaN,NaN,NaN,NaN,NaN,"272,805","301,971","299,428","298,524",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Delta,NaN,NaN,NaN,NaN,NaN,"203,507","237,998","247,007","219,114",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United,NaN,NaN,NaN,NaN,NaN,"169,909","200,080","222,370","202,130",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spirit,NaN,NaN,NaN,NaN,NaN,"110,908","125,844","125,457","130,436",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frontier,NaN,NaN,NaN,NaN,NaN,"80,224","91,352","94,495","98,070",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,JetBlue,NaN,NaN,NaN,NaN,NaN,"61,994","74,282","81,143","72,419",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Allegiant,NaN,NaN,NaN,NaN,NaN,"46,556","51,253","46,317","48,457",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alaska,NaN,NaN,NaN,NaN,NaN,"30,602","38,232","42,114","36,295",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Hawaiian,NaN,NaN,NaN,NaN,NaN,"19,054","20,535","21,503","20,063",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Virgin America,NaN,NaN,NaN,NaN,NaN,"13,816","15,721","17,106","16,037",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Southwest,NaN,NaN,NaN,NaN,NaN,"10,419","12,298","11,934","11,460",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Sun Country,NaN,NaN,NaN,NaN,NaN,"5,771","5,007","4,892","4,387",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Island Air Hawaii*,NaN,NaN,NaN,NaN,NaN,"1,518","1,761","1,714",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,All,NaN,NaN,NaN,NaN,NaN,"1,027,084","1,176,335","1,215,481","1,157,392",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"289,278","313,340","309,190","309,653","1,221,461",NaN,NaN,NaN,NaN,NaN
1,United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"193,951","217,876","236,913","240,000","888,740",NaN,NaN,NaN,NaN,NaN
2,Delta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"172,730","202,384","214,192","199,158","788,464",NaN,NaN,NaN,NaN,NaN
3,Spirit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"144,345","161,656","166,505","165,736","638,242",NaN,NaN,NaN,NaN,NaN
4,Frontier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"100,452","85,819","90,654","89,514","366,439",NaN,NaN,NaN,NaN,NaN
5,JetBlue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"72,466","77,752","86,538","84,433","321,189",NaN,NaN,NaN,NaN,NaN
6,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"48,800","77,881","83,804","69,182","279,667",NaN,NaN,NaN,NaN,NaN
7,Allegiant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"56,568","59,751","52,919","50,322","219,560",NaN,NaN,NaN,NaN,NaN
8,Hawaiian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"20,562","22,074","22,115","19,972","84,723",NaN,NaN,NaN,NaN,NaN
9,Southwest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"11,436","13,418","12,873","12,222","49,949",NaN,NaN,NaN,NaN,NaN
10,Sun Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"8,739","8,798","9,300","9,323","36,160",NaN,NaN,NaN,NaN,NaN
11,All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,119,327","1,240,749","1,285,002","1,249,515","4,894,593",NaN,NaN,NaN,NaN,NaN
0,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"69,691","85,531","94,289","78,140","327,651"
1,Allegiant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"63,660","73,926","64,957","62,551","265,094"
2,American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"317,297","350,554","342,127","329,146","1,339,124"
3,Delta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"201,412","288,351","293,618","251,677","1,035,058"
4,Frontier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"91,389","101,567","131,005","135,197","459,158"
5,Hawaiian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"20,185","22,515","22,588","20,468","85,756"
6,JetBlue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"84,591","89,860","95,810","91,153","361,414"
7,Southwest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"12,025","13,749","13,046","12,004","50,824"
8,Spirit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"176,063","194,915","191,072","196,721","758,771"
9,Sun Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"16,687","17,741","18,793","17,346","70,567"
10,United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"238,470","274,949","258,986","233,928","1,006,333"
11,All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"1,291,470","1,513,658","1,526,291","1,428,331","5,759,750"

In [36]:
American = total_baggage_fees.loc[(total_baggage_fees["Airline"]=="American")]
American

,Airline,1Q_16,2Q_16,3Q_16,4Q_16,Total_16,1Q_17,2Q_17,3Q_17,4Q_17,...,1Q_18,2Q_18,3Q_18,4Q_18,Total_18,1Q_19,2Q_19,3Q_19,4Q_19,Total_19
0,American,"262,464","288,836","288,124","278,048","1,117,473",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,American,NaN,NaN,NaN,NaN,NaN,"272,805","301,971","299,428","298,524",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"289,278","313,340","309,190","309,653","1,221,461",NaN,NaN,NaN,NaN,NaN
2,American,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"317,297","350,554","342,127","329,146","1,339,124"