In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import os
import glob

In [3]:
Jan_2018 = "flight_csv_files/Jan_2018.csv"
Feb_2018 = "flight_csv_files/Feb_2018.csv"
Mar_2018 = "flight_csv_files/Mar_2018.csv"
Apr_2018 = "flight_csv_files/Apr_2018.csv"
May_2018 = "flight_csv_files/May_2018.csv"
Jun_2018 = "flight_csv_files/Jun_2018.csv"
Jul_2018 = "flight_csv_files/Jul_2018.csv"
Aug_2018 = "flight_csv_files/Aug_2018.csv"
Sep_2018 = "flight_csv_files/Sep_2018.csv"
Oct_2018 = "flight_csv_files/Oct_2018.csv"
Nov_2018 = "flight_csv_files/Nov_2018.csv"
Dec_2018 = "flight_csv_files/Dec_2018.csv"

In [4]:
Jan_2018_data=pd.read_csv(Jan_2018)
Feb_2018_data=pd.read_csv(Feb_2018)
Mar_2018_data=pd.read_csv(Mar_2018)
Apr_2018_data=pd.read_csv(Apr_2018)
May_2018_data=pd.read_csv(May_2018)
Jun_2018_data=pd.read_csv(Jun_2018)
Jul_2018_data=pd.read_csv(Jul_2018)
Aug_2018_data=pd.read_csv(Aug_2018)
Sep_2018_data=pd.read_csv(Sep_2018)
Oct_2018_data=pd.read_csv(Oct_2018)
Nov_2018_data=pd.read_csv(Nov_2018)
Dec_2018_data=pd.read_csv(Dec_2018)

In [5]:
Jan_Feb_2018 = Jan_2018_data.append(Feb_2018_data)
Jan_Feb_Mar_2018 = Jan_Feb_2018.append(Mar_2018_data)
Mar_Apr_2018 = Jan_Feb_Mar_2018.append(Apr_2018_data)
Mar_Apr_Jun_2018 = Mar_Apr_2018.append(Jun_2018_data)
Jun_Jul_2018 = Mar_Apr_Jun_2018.append(Jul_2018_data)
Jun_Jul_Aug_2018 = Jun_Jul_2018.append(Aug_2018_data)
Aug_Sep_2018 = Jun_Jul_Aug_2018.append(Sep_2018_data)
Aug_Sep_Oct_2018 = Aug_Sep_2018.append(Oct_2018_data)
Oct_Nov_2018 = Aug_Sep_Oct_2018.append(Nov_2018_data)
year_2018 = Oct_Nov_2018.append(Dec_2018_data)
year_2018

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1/1/2018,9E,TVC,"Traverse City, MI",DTW,"Detroit, MI",615,-4.0,0.0,721.0,-17.0,0.0,0,NaN,NaN,NaN,NaN,NaN
1,1/1/2018,9E,OMA,"Omaha, NE",DTW,"Detroit, MI",815,47.0,47.0,1219.0,58.0,58.0,0,47.0,0.0,11.0,0.0,0.0
2,1/1/2018,9E,MSP,"Minneapolis, MN",BIS,"Bismarck/Mandan, ND",1505,42.0,42.0,1713.0,23.0,23.0,0,23.0,0.0,0.0,0.0,0.0
3,1/1/2018,9E,IND,"Indianapolis, IN",RSW,"Fort Myers, FL",1455,-6.0,0.0,1710.0,-19.0,0.0,0,NaN,NaN,NaN,NaN,NaN
4,1/1/2018,9E,RSW,"Fort Myers, FL",IND,"Indianapolis, IN",1810,-8.0,0.0,2023.0,-23.0,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593837,12/31/2018,AA,ORD,"Chicago, IL",SAN,"San Diego, CA",2019,3.0,3.0,2244.0,-5.0,0.0,0,NaN,NaN,NaN,NaN,NaN
593838,12/31/2018,AA,LGA,"New York, NY",MIA,"Miami, FL",555,-1.0,0.0,846.0,-24.0,0.0,0,NaN,NaN,NaN,NaN,NaN
593839,12/31/2018,AA,ORD,"Chicago, IL",BOS,"Boston, MA",1655,15.0,15.0,2000.0,-7.0,0.0,0,NaN,NaN,NaN,NaN,NaN
593840,12/31/2018,AA,DFW,"Dallas/Fort Worth, TX",SMF,"Sacramento, CA",1935,16.0,16.0,2131.0,8.0,8.0,0,NaN,NaN,NaN,NaN,NaN
593841,12/31/2018,AA,ORD,"Chicago, IL",SFO,"San Francisco, CA",2040,56.0,56.0,4.0,30.0,30.0,0,24.0,6.0,0.0,0.0,0.0

In [6]:
Cleveland_2018 = year_2018.loc[(year_2018['ORIGIN']=='CLE') | (year_2018['DEST']=='CLE')]
Cleveland_2018

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
248,1/1/2018,B6,CLE,"Cleveland, OH",BOS,"Boston, MA",1022,-7.0,0.0,1214.0,12.0,12.0,0,NaN,NaN,NaN,NaN,NaN
249,1/1/2018,B6,BOS,"Boston, MA",CLE,"Cleveland, OH",732,3.0,3.0,930.0,-11.0,0.0,0,NaN,NaN,NaN,NaN,NaN
347,1/1/2018,B6,CLE,"Cleveland, OH",BOS,"Boston, MA",1859,-7.0,0.0,2039.0,-1.0,0.0,0,NaN,NaN,NaN,NaN,NaN
348,1/1/2018,B6,BOS,"Boston, MA",CLE,"Cleveland, OH",1618,-6.0,0.0,1806.0,-18.0,0.0,0,NaN,NaN,NaN,NaN,NaN
358,1/1/2018,B6,CLE,"Cleveland, OH",FLL,"Fort Lauderdale, FL",713,30.0,30.0,1053.0,44.0,44.0,0,0.0,30.0,14.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592470,12/31/2018,OO,DTW,"Detroit, MI",CLE,"Cleveland, OH",830,-11.0,0.0,907.0,-35.0,0.0,0,NaN,NaN,NaN,NaN,NaN
593428,12/31/2018,AA,CLE,"Cleveland, OH",PHL,"Philadelphia, PA",546,-6.0,0.0,648.0,-40.0,0.0,0,NaN,NaN,NaN,NaN,NaN
593530,12/31/2018,AA,PHL,"Philadelphia, PA",CLE,"Cleveland, OH",1540,12.0,12.0,1742.0,22.0,22.0,0,12.0,0.0,10.0,0.0,0.0
593711,12/31/2018,AA,CLE,"Cleveland, OH",CLT,"Charlotte, NC",951,-8.0,0.0,1113.0,-33.0,0.0,0,NaN,NaN,NaN,NaN,NaN
593712,12/31/2018,AA,CLT,"Charlotte, NC",CLE,"Cleveland, OH",735,-7.0,0.0,853.0,-16.0,0.0,0,NaN,NaN,NaN,NaN,NaN

In [7]:
Cleveland_2018.count()

FL_DATE                88536
OP_UNIQUE_CARRIER      88536
ORIGIN                 88536
ORIGIN_CITY_NAME       88536
DEST                   88536
DEST_CITY_NAME         88536
CRS_DEP_TIME           88536
DEP_DELAY              86627
DEP_DELAY_NEW          86627
ARR_TIME               86680
ARR_DELAY              86464
ARR_DELAY_NEW          86464
CANCELLED              88536
CARRIER_DELAY          16125
WEATHER_DELAY          16125
NAS_DELAY              16125
SECURITY_DELAY         16125
LATE_AIRCRAFT_DELAY    16125
dtype: int64

In [8]:
Cleveland_2018.to_csv('clean_csvs/Cleveland_2018.csv', encoding='utf-8', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'clean_csvs/Cleveland_2018.csv'