In [12]:
import zipfile

import pandas as pd

import os

import glob

In [74]:

names = [os.path.basename(x) for x in glob.glob('Flight_stats/*.zip')]

names

['flights_feb.zip',
 'flights_dec.zip',
 'flights_aug.zip',
 'flights_june.zip',
 'flights_may.zip',
 'flights_july.zip',
 'flights_oct.zip',
 'flights_april.zip',
 'flights_sep.zip',
 'flights_march.zip',
 'flights_nov.zip',
 'flights_jan.zip']

In [89]:


appended_data = []

for i in names:

    filepath = (f"Flight_stats/{i}")
    
    zf = zipfile.ZipFile(filepath, allowZip64 = True)

    this = pd.read_csv(filepath)
    
    appended_data.append(this)
    
    this.to_csv()

In [87]:
appended_data = pd.concat(appended_data)   

flight_frame = pd.DataFrame(appended_data)

flight_frame.to_csv('Flight_stats/all_flights_2016.csv')

In [76]:
flight_frame.to_csv('Flight_stats/all_flights_2016.csv')

In [83]:
cle = flight_frame.loc[(flight_frame['ORIGIN']=='CLE')| (flight_frame['DEST'] == 'CLE')]

cle_flights = pd.DataFrame(cle)

In [84]:
cle_flights.to_csv('Flight_stats/cle_flights_2016.csv')

,MONTH,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CRS_ARR_TIME,...,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 20
0,1,AA,MIA,"Miami, FL",DCA,"Washington, DC",1415,21.0,21.0,1645,...,15.0,15.0,0.0,NaN,15.0,0.0,0.0,0.0,0.0,NaN
1,1,AA,MIA,"Miami, FL",DCA,"Washington, DC",1415,-1.0,0.0,1645,...,-3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,AA,MIA,"Miami, FL",DCA,"Washington, DC",1415,26.0,26.0,1645,...,24.0,24.0,0.0,NaN,18.0,0.0,0.0,0.0,6.0,NaN
3,1,AA,MIA,"Miami, FL",DCA,"Washington, DC",1415,31.0,31.0,1645,...,52.0,52.0,0.0,NaN,0.0,0.0,52.0,0.0,0.0,NaN
4,1,AA,MIA,"Miami, FL",DCA,"Washington, DC",1415,-1.0,0.0,1645,...,7.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445822,1,WN,TUS,"Tucson, AZ",LAX,"Los Angeles, CA",1305,0.0,0.0,1340,...,40.0,40.0,0.0,NaN,0.0,0.0,40.0,0.0,0.0,NaN
445823,1,WN,TUS,"Tucson, AZ",LAX,"Los Angeles, CA",1930,17.0,17.0,2000,...,26.0,26.0,0.0,NaN,5.0,0.0,9.0,0.0,12.0,NaN
445824,1,WN,TUS,"Tucson, AZ",MDW,"Chicago, IL",750,37.0,37.0,1210,...,28.0,28.0,0.0,NaN,28.0,0.0,0.0,0.0,0.0,NaN
445825,1,WN,TUS,"Tucson, AZ",SAN,"San Diego, CA",1430,-3.0,0.0,1445,...,24.0,24.0,0.0,NaN,0.0,0.0,24.0,0.0,0.0,NaN
445826,1,WN,TUS,"Tucson, AZ",SAN,"San Diego, CA",1045,200.0,200.0,1100,...,211.0,211.0,0.0,NaN,200.0,0.0,11.0,0.0,0.0,NaN